html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #130808;
  color: rgb(241, 211, 74);
}

::selection {
  background-color: #30cac073;
  color: #130808;
}

#contenedor {
  margin: 0;
  text-align: center;
  letter-spacing: 0.5rem;
  cursor: crosshair;
}

#titulo {
  margin: 3em;
  font-size: 1em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.centro {
  color: rgb(111, 0, 255);
}

.medio {
  color: rgb(223, 135, 201);
}

.cambiada {
  background-color: transparent;
  // color: rgb(223, 135, 201);
  font-size: 1.3em;
}

.consonante-cambiada {
  background-color: transparent;
  color: rgb(111, 0, 255);
}

#autora {
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 7em;
}
